html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #666;
    padding: 10px;
}

.alert {
    border-radius: 0px;
}

.console {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar {
    background-color: #232427;
    border: 0px;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    font-size: 20px;
    color: #FFF;
    padding-top: 22px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #9fda8c;
}

#logo {
    height: 40px;
    width: auto;
}

#brand {
    color: #FFF;
    font-size:28px;
}

#brand:hover {
    color: #9fda8c;
}

.panel-info {
    border: none;
}

.panel-info > .panel-heading {
    border: 0px solid black;
    border-radius: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #FFF;
    font-size: 16px;
}

.command {
    padding-top: 10px;
}

#edit-console-bar {
    background-color: #CCC;
    display: none;
    padding-bottom: 20px;
    padding-top: 30px;
    margin-top: -30px;
}
