<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{% block title %}Joystick{% endblock %}</title>
    <meta name="description" content="Joystick lets you play with computers.">
    <meta name="author" content="Dennis Wilson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="Shortcut Icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    {% block css %}
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
    {% endblock %}

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}" id="brand">Joystick
                <img src="{{ url_for('static', filename='img/logosmall.png') }}" id="logo"></img></a>
            </div>
            <ul class="navbar-nav nav">
                {% block navbar_content %}
                {% endblock %}
            </ul>
            <div class="pull-right">
                <ul class="navbar-nav nav">
                    <li><a href="#">Dennis Wilson</a></li>
                    <li><img src="{{ url_for('static', filename='img/useravatar.png') }}"></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            {% block flash_message %}
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <div id='flash_message_container' style="display:none">
                            {% for category, msg in messages %}
                                <div class="alert alert-{{ category }}">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{ msg }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endblock %}
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <footer id="footer">
        <a href="{{ url_for('about') }}">About</a>
        &middot;
        <a href="{{ url_for('help') }}">Help</a>
    </footer>


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block js_btm %}

    {% endblock %}

    </div> <!--wrapper-->
</body>
