{% extends 'base.html' %}

{% block js_top %}
<script type="text/javascript">
function toggle_output(command_id){
    $('#output-'+command_id).slideToggle(400, function() {
        if ($('#output-'+command_id).is(":visible")) {
            $('#expand-'+command_id).html('[-]');
            //$('#output-'+command_id).load('url_for_command_log_tail');
        } else {
            $('#expand-'+command_id).html('[+]');
        }
    });
};
function toggle_edit(){
    $('#edit-console-bar').slideToggle();
};
</script>
{% endblock %}

{% block navbar_content %}
<li><a href="{{ url_for('console', console_name=console.name) }}">{{ console.name }}</a></li>
<li><a href="#" onclick="toggle_edit()"><span class="glyphicon glyphicon-wrench"></span></a></li>
{% endblock %}

{% block content %}

    <div class="container-fluid" id="edit-console-bar">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <form method="POST" action="{{ url_for('console', console_name=console.name) }}" id="edit-console">
                {{ form.csrf_token }}
                <label for="name">Change name:</label>
                {{ form.name }}
                <input type="submit" value="edit console">
                {% if form.errors %}
                    <style type="text/css">
                        #edit-console-bar {
                            display: block;
                        }
                    </style>
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>

        <div class="col-lg-4">
            <form action={{ url_for('console_delete', console_name=console.name) }} method="POST">
                <input type='submit' value='delete'>
            </form>
        </div>

        <div class="col-lg-2"></div>
    </div>

    <div class="col-lg-6" id="shell">
        <div class="panel panel-info">
            <div class="panel-heading">
                Shells
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Buttons
                    </div>
                </div>
            </div>
            {% for button in console.buttons %}
            <div class="row button command">
                <span class="glyphicon glyphicon-play"></span>
                <a href="#">{{ button.cmd }}</a>
                <a href="#" id="expand-{{ button.id }}" class="pull-right"\\
                                                        onclick="toggle_output({{ button.id }})">[+]</a>
                <div class="output" id="output-{{ button.id }}" style="display:none">
                    None
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Loops
                    </div>
                </div>
            </div>
            {% for loopc in console.loops %}
            <div class="row loop command">
                <span class="glyphicon glyphicon-repeat"></span>
                <a href="#">{{ loopc.cmd }}</a>
                <a href="#" id="expand-{{ loopc.id }}" class="pull-right"\\
                                                       onclick="toggle_output({{ loopc.id }})">[+]</a>
                <div class="output" id="output-{{ loopc.id }}" style="display:none">
                    None
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
