{% extends 'base.html' %}

{% block navbar_content %}
<li><a href="#">{{ console.name }}</a></li>
{% endblock %}

{% block content %}
    <div class="col-lg-6" id="shell">
        <div class="panel panel-info">
            <div class="panel-heading">
                Terminal
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Buttons
                    </div>
                </div>
            </div>
            {% for button in console.buttons %}
            <div class="row">
                <span class="glyphicon glyphicon-play"></span>
                <a href="#">{{ button.cmd }}</a>
                <a href="#" id="expand-{{ button.id }}" class="pull-right">[+]</a>
                <div class="output" id="output-{{ button.id }}">
                    None
                </div>
            </div>
            {% endfor %}
        <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Loops
                    </div>
                </div>
            </div>
            {% for loopc in console.loops %}
            <div class="row">
                <span class="glyphicon glyphicon-repeat"></span>
                <a href="#">{{ loopc.cmd }}</a>
                <a href="#" id="expand-{{ loopc.id }}" class="pull-right">[+]</a>
                <div class="output" id="output-{{ loopc.id }}">
                    None
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form action={{ url_for('console_delete', console_name=console.name) }} method="POST">
        <input type='submit' value='delete'>
    </form>

{% endblock %}
