<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            Loops
            <a href="#" onclick="$('#loop-form-bar').slideToggle()">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </div>
    </div>
</div>
<div class="row" id="loop-form-bar">
    <form method="POST" action="{{ url_for('console', console_name=console.name) }}" id="console-add-loop">
        {{ loop_form.csrf_token }}
        {{ loop_form.type }}
        <div class="form-group">
            <label for="Command">* Command:</label>
            {{ loop_form.cmd(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="Interval">* Interval:</label>
            {{ loop_form.interval(class="form-control", placeholder="Loop interval in seconds") }}
        </div>
        <div class="form-group">
            <label for="Start">Start date:</label>
            {{ loop_form.start_date(class="form-control", placeholder="Start time in seconds since epoch") }}
        </div>
        <input type="submit" value="add loop" class="pull-right">
        {% if loop_form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in loop_form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ loop_form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>
{% for loopc in console.loops %}
<div class="row">
    <div class="container-fluid">
        <div class="row loop-command">
            <form method="POST" action="{{ url_for('command', command_id=loopc.id) }}">
            {% if loopc.is_scheduled() %}
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-stop cmd-btn" name="action" value="stop"></button>
            {% else %}
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-repeat cmd-btn" name="action" value="schedule"></button>
            {% endif %}
            {{ loopc.cmd }}
            | start at
            {{ loopc.start_timestamp() }}
            | every
            {{ loopc.interval }}s
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-file cmd-btn" name="action" value="log"></button>
                <button type="submit" class="btn btn-primary glyphicon glyphicon-trash cmd-btn" name="action" value="delete"></button>
            </div>
            </form>
        </div>
        <div class="row button-output">
            <div class="output" id="output-{{ loopc.id }}">
                <textarea id="output-{{ loopc.id }}-text" readonly="readonly" disabled="disabled" class="output" rows=6>{{ loopc.get_log_tail(5) }}</textarea>
            </div>
        </div>
    </div>
</div>
{% endfor %}
